[submodule "src/praat.github.io"]
	path = src/praat.github.io
	url = https://github.com/praat/praat.github.io.git
[submodule "src/clapack"]
	path = src/clapack
	url = https://github.com/alphacep/clapack.git
