[submodule "src/praat.github.io"]
	path = src/praat.github.io
	url = https://github.com/humlab-speech/praat.github.io.git
[submodule "src/clapack"]
	path = src/clapack
	url = https://github.com/humlab-speech/clapack.git
